{:deps {:aliases [:cljs]}

 :dev-http {3000 "resources/public"}
 
 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :compiler-options {:source-map false}
   :modules {:main {:init-fn ui.core/init}}}}}
