{% extends "base.html" %}

{% block content %}

<div class="flex flex-wrap gap-4">
  <div class="card card-border grow lg:grow-0">
    <div class="card-body">
      <h2 class="card-title">Management</h2>
	  <ul class="menu">
        <li><a href="/admin/categories" role="button">Categories</a></li>
        <li><a href="/admin/languages" role="button">Languages</a></li>
        <li><a href="/admin/preferences" role="button">Preferences</a></li>
	  </ul>
    </div>
  </div>
  
  <div class="card card-border">
    <div class="card-body grow lg:grow-0">
      <h2 class="card-title">Parse E-mails from Mbox</h2>
      <form action="emails/parse" enctype="multipart/form-data" method="POST">
        <input name="redirect-url" type="hidden" value="/admin" />
        <input name="filename" type="file" class="file-input"/>
        <button class="btn btn-outline-primary" type="submit">Upload</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
