{% extends "base.html" %}

{% block content %}

<form action="/admin/languages" id="preferences" method="post">
{% for preference in language-preferences %}
<input form="preferences" hidden="true" name="id" type="text" value="{{preference.id}}">
<input form="preferences" hidden="true" name="language" type="text" value="{{preference.language}}">
{% endfor %}

<table class="table table-zebra">
  <thead>
    <tr><th>Language</th><th>Use in Training?</th></tr>
  </thead>
  <tbody>
    {% for preference in language-preferences %}
    <tr><td>{{preference.language}}</td><td><input {% if preference.use_in_training = 1 %}checked{% endif %} form="preferences" class="checkbox" name="use" type="checkbox" value="{{preference.language}}"></td></tr>
    {% endfor %}
</tbody></table>
<button class="btn btn-primary my-2"  form="preferences">Update</button>

</form>

{% endblock %}
