{% extends "base.html" %}

{% block content %}

{% if emails|not-empty %}

<div class="flex">
  <div class="card grow place-items-center">
    <h3>Filter</h3>
    <form action="/emails" method="get" id="page-form">
      <input type="hidden" name="search-field" value="subject" />
      <input type="hidden" name="page" value="1" /> <!-- whenever the filter is used, we want to go back to page 1 -->
      <div class="flex" style="gap: 4px; flex-wrap: wrap;">
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Metadata</legend>
          <select class="select" name="filter">
            <option {% if page.filter = "all" %} selected {% endif %} value="all">
              All
            </option>
            <option {% if page.filter = "enriched-only" %} selected {% endif %}  value="enriched-only">
              Enriched E-mails Only
            </option>
            <option {% if page.filter = "without-category" %} selected {% endif %} value="without-category">
              E-mails without A Category Only</a>
            </option>
          </select>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Search Text</legend>
          <input type="text" name="search-text" class="input" value="{{page.search-text}}" />
          <p class="label">Currently you can only search in email subjects.</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">Page Size</legend>
          <select class="select" name="page-size">
            <div tabindex="0" role="button" class="btn">Page Size: {{page.page-size}}</div>
            <option {% if page.page-size = 10 %}selected{% endif %}>10</option>
            <option {% if page.page-size = 20 %}selected{% endif %}>20</option>
            <option {% if page.page-size = 30 %}selected{% endif %}>30</option>
          </select>
        </fieldset>
      </div>
      <button class="btn btn-primary" type="submit">Apply</button>
    </form>
  </div>
  <div class="card grow place-items-center">
    <h3>Data Training</h3>
    <form class="my-4" action="/training" method="post">
      <input hidden="true" name="redirect-url" type="text" value="/emails">
      <input class="btn" type="submit" value="Train with Existing Data">
    </form>
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 lg:justify-items-stretch">
  <div class="hidden lg:block"></div>
  <div class="lg:justify-self-center-safe my-2">
    <div class="pagination flex flex-nowrap text-xs lg:text-md items-center">
    {% if page.page > 1 %}
    <form action="/emails" method="get">
      <input type="hidden" name="page-size" value="{{page.page-size}}" />
      <input type="hidden" name="search-field" value="subject" />
      <input type="hidden" name="search-text" value="{{page.search-text}}" />
      <input type="hidden" name="page" value="{{page.page|add:-1}}" />
      <button class="btn join-item text-xs lg:text-md text-nowrap">Back</button>
    </form>
    {% else %}
    <button disabled class="btn join-item text-xs lg:text-md text-nowrap">< Back</button>
    {% endif %}
    <p class="text-sm lg:text-md text-nowrap mx-2">{{page.page}} of {{page.total-pages}}</p>
    {% if page.page <= page.last-page %}
                       
    <form action="/emails" method="get">
      <input type="hidden" name="page-size" value="{{page.page-size}}" />
      <input type="hidden" name="search-field" value="subject" />
      <input type="hidden" name="search-text" value="{{page.search-text}}" />
      <input type="hidden" name="page" value="{{page.page|add:1}}" />
      <button class="btn join-item text-xs lg:text-md text-nowrap">Next</button>
    </form>
    {% else %}
    <button disabled class="btn join-item text-xs lg:text-md text-nowrap">Next ></button>
    {% endif %}
    </div>
  </div>
</div>

<form action="/metadata" id="emails" method="post"></form>
<input form="emails" hidden="true" name="redirect-url" type="text" value="/emails?page={{page.page}}&page-size={{page.size}}&filter={{page.filter}}">
<div class="w-full">
  {% for email in emails %}
  <input form="emails" hidden="true" name="message-id" type="text" value="{{email.header.message-id}}">
  <input form="emails" hidden="true" name="language-confidence" type="text" value="1">
  <input form="emails" hidden="true" name="category-confidence" type="text" value="1">
  {% endfor %}
  <table class="table table-zebra">
    <thead class="table-header-group">
      <tr class="table-row">
        <th class="table-cell text-left"><strong>Date</strong></th>
        <th class="table-cell text-left"><strong>Subject</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>From</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>To</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Language</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Confidence</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Category</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Confidence</strong></th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
      <tr class="table-row">
        <td class="table-cell"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.header.date|date:"dd.MM.yyyy"}}</a></td>
        <td class="table-cell" style="text-wrap-mode: wrap;"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.header.subject}}</a></td>
        <td class="hidden lg:table-cell" style="text-wrap-mode: wrap;"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.participants|concat-senders}}</a></td>
        <td class="hidden lg:table-cell" style="text-wrap-mode: wrap;"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.participants|concat-receivers}}</a></td>
        <td class="hidden lg:table-cell"><input class="input" form="emails" name="language" type="text" value="{{email.metadata.language}}"></td>
        <td class="hidden lg:table-cell">{{email.metadata.language-confidence|double-format-nillable:10}}</td>
        <td class="hidden lg:table-cell">
          <select class="select w-32" form="emails" name="category">
            {% for category in categories %}
            <option value="{{category.id}}" {% if email.metadata.category-id = category.id %} selected {% endif %}>{{category.name}}</option>
            {% endfor %}
        </select></td>
        <td class="hidden lg:table-cell">{{email.metadata.category-confidence|double-format-nillable:10}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  <button class="btn btn-primary my-4" form="emails">Batch Update</button>
  </div>

{% endif %}

{% if emails|empty? %}


<div role="alert" class="alert">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>There are no e-mails to list</span>
</div>

{% endif %}

{% endblock %}
