{% extends "base.html" %}

{% block content %}

{% if emails|not-empty %}

<div class="collapse collapse-arrow bg-base-100 border border-base-300">
  <input type="checkbox" id="enrichment"/>
  <div class="collapse-title font-semibold">Filter Options</div>
  <div class="collapse-content text-sm">
	<div class="min-h-0">
      <select class="select" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option {% if page.filter = "all" %} selected {% endif %} value="/emails?page=1&page-size={{page.size}}&filter=all">
          All
        </option>
        <option {% if page.filter = "enriched-only" %} selected {% endif %}  value="/emails?page=1&page-size={{page.size}}&filter=enriched-only">
          Enriched E-mails Only
        </option>
        <option {% if page.filter = "without-category" %} selected {% endif %} value="/emails?page=1&page-size={{page.size}}&filter=without-category">
          E-mails without Category Only</a>
</option>
</select>
</div>
</div>
<div class="collapse collapse-arrow bg-base-100 border border-base-300">
	<input type="checkbox" id="training" />
    <div class="collapse-title font-semibold">Data Training</div>
    <div class="collapse-content text-sm">
	  <div class="min-h-0">
        <form action="/training" method="post">
          <input hidden="true" name="redirect-url" type="text" value="/emails">
          <input class="btn btn-primary" type="submit" value="Train with Existing Data">
        </form>
      </div>
    </div>
  </div>
</div>


<div class="grid grid-cols-1 lg:grid-cols-3 lg:justify-items-stretch">
  <div class="hidden lg:block"></div>
  <div class="lg:justify-self-center-safe my-2">
    <div class="pagination flex flex-nowrap text-xs lg:text-md items-center">
    {% if page.page > 1 %}
    <a href="/emails?page={{page.page|add:-1}}&page-size={{page.size}}&filter={{page.filter}}">
	    <button class="btn join-item text-xs lg:text-md text-nowrap">< Back</button>
                                                                       </a>
    {% else %}
    <a href="#">
      <button disabled class="btn join-item text-xs lg:text-md text-nowrap">< Back</button>
    </a>
    {% endif %}
    <p class="text-sm lg:text-md text-nowrap mx-2">{{page.page}} of {{page.total-pages}}</p>
    {% if page.page <= page.last-page %}
    <a href="/emails?page={{page.page|add:1}}&page-size={{page.size}}&filter={{page.filter}}">
      <button class="btn join-item text-xs lg:text-md text-nowrap">Next ></button>
    </a>
    {% else %}
    <a href="#">
      <button disabled class="btn join-item text-xs lg:text-md text-nowrap">Next ></button>
    </a>
    {% endif %}
    </div>
  </div>


  <div class="justify-self-begin-safe lg:justify-self-end-safe text-xs lg:text-md my-2">
  <div class="dropdown">
    <div tabindex="0" role="button" class="btn">Page Size: {{page.size}}</div>
  
    <ul tab-index="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
      <li>
        <a href="/emails?page={{page.page}}&page-size=10&filter={{page.filter}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">10</a>
      </li>
      <li>
        <a href="/emails?page={{page.page}}&page-size=20&filter={{page.filter}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">20</a>
      </li>
      <li>
        <a href="/emails?page={{page.page}}&page-size=30&filter={{page.filter}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">30</a>
      </li>
    </ul>
  </div>
  </div>
</div>

<form action="/metadata" id="emails" method="post"></form>
<input form="emails" hidden="true" name="redirect-url" type="text" value="/emails?page={{page.page}}&page-size={{page.size}}&filter={{page.filter}}">
<div class="w-full">
  {% for email in emails %}
  <input form="emails" hidden="true" name="message-id" type="text" value="{{email.header.message-id}}">
  <input form="emails" hidden="true" name="language-confidence" type="text" value="1">
  <input form="emails" hidden="true" name="category-confidence" type="text" value="1">
  {% endfor %}
  <table class="table table-zebra">
    <thead class="table-header-group">
      <tr class="table-row">
        <th class="table-cell text-left"><strong>Date</strong></th>
        <th class="table-cell text-left"><strong>Subject</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>From</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>To</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Language</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Confidence</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Category</strong></th>
        <th class="hidden lg:table-cell text-left"><strong>Confidence</strong></th>
      </tr>
    </thead>
    <tbody>
      {% for email in emails %}
      <tr class="table-row">
        <td class="table-cell"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.header.date|date:"dd.MM.yyyy"}}</a></td>
        <td class="table-cell" style="text-wrap-mode: wrap;"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.header.subject}}</a></td>
        <td class="hidden lg:table-cell" style="text-wrap-mode: wrap;"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.participants|concat-senders}}</a></td>
        <td class="hidden lg:table-cell" style="text-wrap-mode: wrap;"><a href="/emails/{{email.header.message-id|base64-encode}}">{{email.participants|concat-receivers}}</a></td>
        <td class="hidden lg:table-cell"><input class="input" form="emails" name="language" type="text" value="{{email.metadata.language}}"></td>
        <td class="hidden lg:table-cell">{{email.metadata.language-confidence|double-format-nillable:10}}</td>
        <td class="hidden lg:table-cell">
          <select class="select w-32" form="emails" name="category">
            {% for category in categories %}
            <option value="{{category.id}}" {% if email.metadata.category-id = category.id %} selected {% endif %}>{{category.name}}</option>
            {% endfor %}
        </select></td>
        <td class="hidden lg:table-cell">{{email.metadata.category-confidence|double-format-nillable:10}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  <button class="btn btn-primary" form="emails">Batch Update</button>
  </div>

{% endif %}

{% if emails|empty? %}


<div role="alert" class="alert">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>There are no e-mails to list</span>
</div>

{% endif %}

{% endblock %}
