{% extends "base.html" %}

{% block content %}

<div class="tabs flex-nowrap">
	<div class="tab tab-bordered {% if active-tab = nil %}tab-active{% endif %}"><a href="/statistics" role="button">Overall</a></div>
	<div class="tab tab-bordered {% if active-tab = :types %}tab-active{% endif %}"><a href="/statistics/types" role="button">Types</a></div>
	<div class="tab tab-bordered {% if active-tab = :languages %}tab-active{% endif %}"><a href="/statistics/languages" role="button">Languages</a></div>
	<div class="tab tab-bordered {% if active-tab = :categories %}tab-active{% endif %}"><a href="/statistics/categories" role="button">Categories</a></div>
</div>

{% if interval-filter %}
<h3 class="uppercase text-lg my-8 mx-16">Filter</h3>
<form action="{{interval-filter.url}}" method="GET">
  <div class="flex flex-row justify-start content-center">
    <div class="w-32 mx-16">
      <select class="block mr-4 bg-gray-50 border border-gray-200 text-gray-700 focus:bg-gray-700 focus:ring-gray-200 focus:border-gray-200 focus:text-white text-sm rounded-lg block w-full p-2.5 w-full" name="interval" autocomplete="off">
        <option value="yearly" {% if interval-filter.selected-interval = yearly %}selected{% endif %}>yearly</option>
        <option value="monthly" {% if interval-filter.selected-interval = monthly %}selected{% endif %}>monthly</option>
      </select>
    </div>
    <div class="mx-4">
      <select class="block mr-4 bg-gray-50 border border-gray-200 text-gray-700 focus:bg-gray-700 focus:ring-gray-200 focus:border-gray-200 focus:text-white text-sm rounded-lg block w-full p-2.5 w-full" name="year" autocomplete="off">
        {% for year in interval-filter.years %}
        <option {% if interval-filter.selected-year = year %}selected{% endif %} value="{{year}}">{{year}}</option>
        {% endfor %}
      </select>
    </div>
    <button class="px-4 py-2 text-white bg-gray-700 hover:bg-gray-900 font-medium text-sm"  type="submit">Apply</button>
  </div>
</form>

{% endif %}
  

<div class="flex flex-wrap justify-items-start gap-4">
  {% for stats in statistics %}
  
  <div class="mx-16 card bg-base-100 shadow-sm w-full">
    <h3 class="uppercase text-lg my-8">{{stats.header}}</h3>
    
    {% if stats.type = :bar-chart %}

      {% if no-data %}

      <div role="alert" class="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Not enough data</span>
      </div>
  
      {% else %}
      <div class="card-body" id="{{stats.id}}"></div>
      <script>vegaEmbed('#{{stats.id}}', {{stats.json-data|safe}});</script>
      {% endif %}
      {% elif stats.type = :table %}
      {% if stats.data.values|empty? %}

      <div role="alert" class="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Not enough data</span>
      </div>
      
      {% else %}
      <div class="card-body">
        <table class="border-collapse table-auto w-full text-sm">
          <thead>
            <tr>{% for header in stats.data.headers %}<th class="text-left">{{header}}</th>{% endfor %}</tr>
          </thead>
          <tbody> 
            {% for values in stats.data.values %}
            <tr>
              {% for val in values %}
              <td class="text-left">{{val}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% endif %}
  </div>
{% endfor %}
</div>
</div>

{% endblock %}
