{% extends "base.html" %}

{% block content %}

{% if watchers|empty? %}

<div role="alert" class="alert">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>There are no active IMAP connections</span>
</div>

{% endif %}

{% if watchers|not-empty %}

<table class="table-xs lg:table table-zebra">
  <thead class="table-header-group">
    <tr>
      <th class="text-xs lg:text-md">Account</th>
      <th class="text-xs lg:text-md text-center">Logged-in</th>
      <th class="text-xs lg:text-md text-center">Folder Open</th>
      <th class="text-xs lg:text-md text-center">Reconnect</th>
    </tr>
  </thead>
  <tbody>
    {% for watcher in watchers %}
    <tr class="table-row">
      <td class="text-xs lg:text-md text-left">
        <a class="link link-underline" href="/connections/{{watcher.id}}">{{watcher.string}}</a>
      </td>
      <td class="text-center">{{watcher.logged-in | iconize}}</td>
      <td class="text-center">{{watcher.folder-open | iconize}}</td>
      <td class="text-center">
        <form action="/connections/{{watcher.id}}/restart" method="post">
          <button class="btn btn-primary">Reconnect</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
