{% extends "base.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Logged-in?</th>
      <th>Folder open?</th>
      <th>Restart connection</th>
    </tr>
  </thead>
  <tbody>
    {% for watcher in watchers %}
    <tr class="border-btext-slate-700">
      <td class="text-left">
        <a class="link link-underline" href="/connections/{{watcher.id}}">{{watcher.string}}</a>
      </td>
      <td class="text-center">{{watcher.logged-in}}</td>
      <td class="text-center">{{watcher.folder-open}}</td>
      <td class="text-center">
        <button class="btn btn-primary"><a href="/connections/{{watcher.id}}/restart">Restart</a></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
