{% extends "base.html" %}

{% block content %}

<h3 class="uppercase text-lg my-8">IMAP Connection for {{host}} - {{user}}</h3>
<div class="flex w-full max-w-sm flex-col gap-6">
  <form id="parse" class="space-y-4" action="/connections/{{id}}" method="POST">
    <div class="form-field">
      <label for="folder">Folders</label>
      <div class="form-control">
        <select class="select" name="folder">
          {% for folder in folders %}
          <option value="{{folder}}">{{folder}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="flex gap-2">
      <label for="move">Move e-mails after categorization</label>
      <input class="checkbox" name="move" type="checkbox">
    </div>
    <div class="form-field">
      <button form="parse" class="btn btn-primary">Parse E-mails</button>
    </div>
  </form>
</div>

{% endblock %}
