.nav-button {
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: thick;
    text-transform: uppercase;
}

.sub-nav-button {
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: thick;
    text-transform: uppercase;
    font-size: 0.9em;
}

.flex-container {
    display: flex;
}
